[submodule "vim-colors-solarized"]
      path = .vim/bundle/vim-colors-solarized
      url = git@github.com:altercation/vim-colors-solarized.git

[submodule "vim-indent-guides"]
      path = .vim/bundle/vim-indent-guides
      url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
